# Ignore node_modules
node_modules/

# Ignore TypeScript build outputs
dist/
build/
out/

# Ignore compiled JavaScript files
*.js
*.js.map
*.d.ts

# Ignore environment files
.env

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS files
.DS_Store
